
/* htmal reset by using this code */
/* all margin 0 and  padding aslo zero  */
/* and box size is border box */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* convert 16px defAult  font-size of the html like 16px=100% means 10px =(100/16)*16=62.5% and use all over the page */
html{
    font-size: 62.5%;                    
}


body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.7;
}

ul li{
    list-style: none;
}

a{
    font-size: 1.6rem;
    text-decoration: none;
}

p, li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}

h1, h2, h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.5em;
    font-weight: 500;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    
}


/* utility classe  bana lo for comman work ke liye */
.lg-heading{
    font-size: 3.5rem;
}
.md-heading{
    font-size: 2.2rem;
}

.text-red{
    color: #e63946;
}

.text-light{
    color: #f4f4f4;
}
.text-black{
    color: #3333;
}
.text-grey{
    color: #5555;
}


.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em;
}
.btn-primary{
    background-color: white;
    /* display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 0.5em;
    text-transform: uppercase;
    margin: 0.5em; */
    border-radius: 10rem;
}

.header{
    position: relative;
    height: 95vh;
    background: url("../img/car9.jpg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;

}

.navbar{
    /* border: solid 2px green; */
    padding: 1rem;
}


.header .nav-items a{
    color: white;
}
.header .navbar .logo{
    float: left;
}
.header .navbar .nav-items{
    float: right; 
    margin-top: 1rem;
}
.header .navbar .nav-item{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
}

.navbar a:link,
.navbar a:visited{
    color: #f4f4f4;
}


.navbar a:hover{
    border-bottom: 1px solid white;
}
.navbar a{
    padding-bottom: 0.5rem;
}

.navbar::after{
    content: '';
    display: block;
    clear: both;
}
/* ############header-content style############# */
.header-content{
    /* border: 2px solid white; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.header-content h1,
.header-content p{
    text-transform: uppercase;
}

/* ##########section classes style############# */
.showcase{
    /* background-color: #3333; */
    padding: 10rem 0;
}
.row{
    height: 350px;
    border: 2px solid rgba(185, 182, 182, 0.358);
    background-color: #ffff;

}
.row1{
    margin-bottom: 10rem;
}

.row1 .img-box, .row2 .text-box{
    float: left;
    width: 50%;
}
.row2 .img-box, .row1 .text-box{
    float: right;
    width: 50%;
}
.row .img-box{
    /* border: 6px solid rgb(6, 12, 184); */
    height: 100%;
}
.row .text-box{
    /* border: 2px solid; */
    padding: 3rem;

}
.row .img-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.row .text-box{
    text-align: center;
}